<%- include("partials/header") %>
<h1>Your meals today <%= date %></h1>
<p id="consumptionSubTitle">You have consumed a total of:</p>
<ul id="totalList">
    <% for(let i = 0; i < intakeToday.length; i++){%>
        <li>
            <%= intakeToday[i] %>
        </li>
    <%}%>
</ul>

<table>
    <thead>
        <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Carbohydrates</th>
        <th>Fats</th>
        <th>Fiber</th>
        <th>Vitamin C</th>
        </tr>
    </thead>
   
    <tbody id="foodTableBody">
        <% for(let prod of product){%>
            <% if(prod.dateOfIntake == date){%>  
            <tr>
                <td><img class="mainImage" src="<%= prod.imageUrl %>"></td>
                <td><%= prod.name %></td>
                <td><%= prod.calories %></td>
                <td><%= prod.protein %></td>
                <% for(let nutr of nutrition){%>
                    <% if(prod.nutritionalInfoId == nutr.id){%>
                    <td><%= nutr.carbohydrates %></td>
                    <td><%= nutr.fats %></td>
                    <td><%= nutr.fiber %></td>
                    <td><%= nutr.vitaminC %></td>
                    <%}%>
                <%}%>
            </tr>
            <%}%>
        <%}%>
    </tbody>
</table>

<script src="/js/logoAnimation.js"></script>
<%- include("partials/footer") %>