<%- include("partials/header") %>
<%
    function getTypeColor(type) {
        switch (type) {
        case "Meat":
            return "circleRed";
        case "Fruit":
            return "circleOrange";
        case "Vegetable":
            return "circleGreen";
        case "Fish":
            return "circleBlue";
        case "Nuts":
            return "circleBrown";
        case "Dairy":
            return "circleWhite";
        case "Grain":
            return "circleYellow";
        default:
            return "";
        }
    }
%>
<h1 id="titleNutrients">Nutrients Table</h1>
<h2 id="productsSubTitle">Types and their color:</h2>

<ul id="typeDescription">
    <li><div class="typeCircle circleRed"></div><p>Meat</p></li>
    <li><div class="typeCircle circleOrange"></div><p>Fruit</p></li>
    <li><div class="typeCircle circleGreen"></div><p>Vegetable</p></li>
    <li><div class="typeCircle circleBlue"></div><p>Fish</p></li>
    <li><div class="typeCircle circleBrown"></div><p>Nuts</p></li>
    <li><div class="typeCircle circleWhite"></div><p>Dairy</p></li>
    <li><div class="typeCircle circleYellow"></div><p>Grain</p></li>
</ul>

<p class="instructionText instructionTextInNutr">All of the nutritional values are standardized to per 100g serving size.</p>

<table>
    <thead>
        <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Type</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Carbohydrates</th>
        <th>Fats</th>
        <th>Fiber</th>
        <th>Vitamin C</th>
        </tr>
    </thead>
    <tbody id="foodTableBody">
        <% for(let prod of product){%>
            <tr>
                <td><img class="mainImage" src="<%= prod.imageUrl %>"></td>
                <td><%= prod.name %></td>
                <td>
                    <div class="typeCircle center <%= getTypeColor(prod.type) %>"></div>
                </td>
                <td><%= prod.calories %></td>
                <td><%= prod.protein %></td>
                <% for(let nutr of nutrition){%>
                    <% if(prod.nutritionalInfoId == nutr.id){%>
                    <td><%= nutr.carbohydrates %></td>
                    <td><%= nutr.fats %></td>
                    <td><%= nutr.fiber %></td>
                    <td><%= nutr.vitaminC %></td>
                    <%}%>
                <%}%>
            </tr>
        <%}%>
    </tbody>
</table>
<%- include("partials/footer") %>